<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>文件上傳</h2>
  <hr>
  <form action="/portrait" action="post" enctype="multipart/form-data">
    用戶名 <input type="text" name="username">
    頭像 <input type="file" name="portrait">
    <hr>
    <button>點擊提交</button> 
  </form>
</body>
</html>
